Source: live-studio
Section: web
Priority: optional
Maintainer: debian-live <debian-live@lists.debian.org>

Package: live-studio
Architecture: all
Depends: python-django (>= 1.2), python-psycopg2, python-memcache
Description: Web pages etc. for live-studio

Package: live-studio-runner
Architecture: all
Description: Queue runner for live-studio
