{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; FAQ
{% endblock %}

{% block content %}
<h1>Frequently Asked Questions</h1>

<ul class="toc"> 
  <li><a href="#what">What is Debian Live Studio?</a></li> 
  <li><a href="#bugs">How do I report bugs?</a></li> 
  <li><a href="#hacking">How can I hack on Debian Live Studio?</a></li> 
</ul> 

<h2><a id="what">What is Debian Live Studio?</a></h2> 
<p>Debian Live Studio is a web-based tool for building customised Debian images that do not require installation before they can be used. Live images can can book from various types of media, including CDs, USB sticks or via netbooting.</p>

<h2><a id="bugs">How do I report bugs?</a></h2> 
<p>Please email your bug report to <a href="debian-live@lists.debian.org">debian-live@lists.debian.org</a> or report it on the <tt>#debian-live</tt> IRC channel on <a href="http://oftc.net/">OFTC</a>.</p>

</p>

<h2><a id="hacking">How can I hack on Debian Live Studio?</a></h2> 
<p>You can download the source using git:</p>

<pre>
  $ git clone git://live.debian.net/git/live-studio.git
</pre>

<p>You can then either send a merge request or a patch series to <a href="debian-live@lists.debian.org">debian-live@lists.debian.org</a>. It is recommended that you join the <tt>#debian-live</tt> IRC channel on <a href="http://oftc.net/">OFTC</a> to co-ordinate larger changes.</p>

{% endblock %}
