{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/debhome.css" %}" type="text/css" />
{% endblock %}

{% block breadcrumbs %}&nbsp;{% endblock %}

{% block content %}

<div id="splash" style="text-align: center;">
  <h1>Debian GNU/Linux</h1>
</div>

<div id="intro">
  <p>A <em>live</em> system is an operating system that does not require a classical installer to use it. It can can book from various types of media, including CDs, USB sticks or via netbooting.</p>
</div>

<p><a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">register</a>

{% comment %}<p class="infobar"></p>{% endcomment %}

{% endblock %}
