{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/debhome.css" %}" type="text/css" />
{% endblock %}

{% block home_link %}{% endblock %}
{% block breadcrumbs %}&nbsp;{% endblock %}

{% block content %}

<div id="splash" style="text-align: center;">
  <h1>Debian Live Studio</h1>
</div>

<h1>Welcome to Debian Live Studio!</h1>

<ul>
  <li>Build your own Debian Live with just a few mouse clicks</li>
  <li>Choice of CD, DVD or USB image media types</li>
  <li>Build and download image from anywhere</li>
  <li>100% free software</li>
</ul>

<p><a href="{% url auth_login %}">Login</a>, <a href="{% url registration_register %}">register</a> or read some of our <a href="{% url static:faq %}">frequently asked questions</a>.</p>

{% comment %}<p class="infobar"></p>{% endcomment %}

{% endblock %}
