{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; <a href="{% url config:configs %}">Configurations</a> &raquo; Add new configuration
{% endblock %}

{% block content %}

<div id="second-nav"> 
<ol>
  <li class="{% if step == 1 %}active{% endif %}">Image type</li>
  <li class="{% if step == 2 %}active{% endif %}">Select distribution</li>
  <li class="{% if step == 3 %}active{% endif %}">Media type</li>
  <li class="{% if step == 4 %}active{% endif %}">Architecture</li>
  <li class="{% if step == 5 %}active{% endif %}">Debian Installer</li>
  <li class="{% if step == 6 %}active{% endif %}">Locale</li>
</ul>
</div>

<h1>{% block add_title %}Missing "add_title" block override {% endblock %}</h1>

<form class="add_config" action="" method="POST">{% csrf_token %}

{% block add_content %}
<table>
{{ form }}
</table>
{% endblock %}

<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" value="{% block next %}Next &raquo;{% endblock %}" style="margin: 1em; padding: 0.5em; font-size: 120%; float: right; clear: both; width: 200px">
</form>

<div style="clear: both"></div>

{% endblock %}
