{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; <a href="{% url config:configs %}">Configurations</a> &raquo; Add new configuration
{% endblock %}

{% block content %}

<h3>Add new configuration</h3>

<h2>{{ step }}. {% block add_title %}Missing "add_title" block override {% endblock %}</h2>

<form class="add_config" action="" method="POST">{% csrf_token %}

{% block add_content %}
<table>
{{ form }}
</table>
{% endblock %}

<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" value="{% block next %}Next &raquo;{% endblock %}" style="margin: 1em; padding: 0.5em; font-size: 120%; float: right; clear: both; width: 200px">
</form>

<div style="clear: both"></div>

{% endblock %}
