{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; Configurations
{% endblock %}

{% block content %}
<h1>My configurations</h1>

<p>A <em>configuration</em> is a set of properties that defines your Live
system. This page lists your saved Debian Live Studio configurations. You can
return here and rebuild them at any time.</p>

{% if request.user.configs.exists %}
  <ul>
  {% for config in request.user.configs.all %}
    <li>
      <a href="{{ config.get_absolute_url }}">{{ config.name }}</a>
      <small>Added {{ config.created|timesince }} ago</small>
    </li>
  {% endfor %}
  </ul>

  <p><strong><a href="{% url config:add %}">Add new configuration</a></strong></p>
{% else %}
  <div class="tip"><p>You have no saved configurations. <a href="{% url config:add %}">Add one</a>.</p></div>
{% endif %}

{% endblock %}
