{% extends "base.html" %}

{% block content %}

<p><a href="{% url config:configs %}">&laquo; Back to list of configurations</a></p>

<h1>Config: <em>{{ config.name }}</em></h1>

<form action="{% url build:enqueue config.pk %}" method="post">
<input type="submit" value="Build">
</form>

<table cellpadding="5">
<tr>
  <th>#</th>
  <th>Enqueued</th>
  <th>Status</th>
</tr>
{% for build in config.builds.all %}
<tr>
  <td>{{ build.pk }}</td>
  <td>{{ build.enqueued|timesince }} ago</td>
  <td>
  	{% if build.status == "waiting"%}
      <em>Waiting for builder to become available..</em>
    {% endif %}

  	{% if build.status == "building"%}
      <em>Building...</em> ({{ build.started|timesince }})
    {% endif %}

  	{% if build.status == "failure"%}
      <strong>Build failed!</strong>
    {% endif %}

  	{% if build.status == "success"%}
      <strong>Finished.</strong>
      <a href="{{ settings.BUILDS_URL }}/{{ build.ident }}/{{ build.filename }}">Download</a>
    {% endif %}

  </td>
</tr>
{% endfor %}
</table>

<p><a href="{% url config:edit config.pk %}">Edit</a></p>

<dl>
<dt>Distribution</dt>
<dd>{{ config.base }}</dd>
</dl>

<p><tt>lh_config {{ config.options|command_line_options }} &amp;&amp; sudo lh_build</tt></p>

{% endblock %}
