{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; <a href="{% url config:configs %}">My configurations</a> &raquo; <em>{{ config.name }}</em>
{% endblock %}

{% block content %}

<h1><em>{{ config.name }}</em></h1>

<div style="border: red 5px dotted; background-color: yellow; padding: 1em; margin: 1em; font-size: 120%; font-weight: bold">
Non-trivial builds will likely fail as the server ran out of disk space in hours after launch.
<br>Please <a href="http://chris-lamb.co.uk/2010/08/02/debian-live-studio/">read this</a> regarding the current hosting situation and what you can do to help.
</div>

<form action="{% url build:enqueue config.pk %}" method="post">
<input type="submit" value="Build" style="font-size: 120%; float: left; font-weight: bold">
</form>

<form action="{% url config:edit config.pk %}" method="get">
<input type="submit" value="Edit" style="font-size: 120%; float: left">
</form>

<div style="clear: both"></div>

{% if config.builds.exists %}
<h2>Build history</h2>

<table class="vendors" summary=""> 
<tr> 
  <th>Build #</th> 
  <th>Enqueued</th> 
  <th>Status</th> 
  <th>&nbsp;</th> 
  <th>&nbsp;</th> 
  <th>&nbsp;</th> 
</tr> 

{% for build in config.builds.all %}
<tr class="{{ build.status }}">
  <td>{{ build.pk }}</td>
  <td><abbr title="{{ build.enqueued }}">{{ build.enqueued|timesince }} ago</abbr></td>

  {% if build.status == "waiting" %}
  <td><em>Waiting for builder to become available..</em></td>
  <td colspan="2"><small>Waiting for {{ build.enqueued|timesince }}</small><td>
  {% endif %}

  {% if build.status == "building" %}
  <td><em>Building...</em></td>
  <td><small>Building for {{ build.started|timesince }}</small></td>
  <td colspan="2"><a href="{{ build.log_url }}">Log</a></td>
  {% endif %}

  {% if build.status == "failure" %}
  <td><span style="color: red; font-weight: bold">Failed</span></td>
  <td><small>Build time: {{ build.started|timesince:build.finished }}</small></td>
  <td colspan="2"><a href="{{ build.log_url}}">Log</a></td>
  {% endif %}

  {% if build.status == "success" %}
  <td><span style="color: green; font-weight: bold">Build successful</span></td>
  <td><small>Build time: {{ build.started|timesince:build.finished }}</small></td>
  <td><a href="{{ build.log_url}}">Log</a></td>
  <td><a href="{{ build.result_url}}">Download</a></td>
  {% endif %}

</tr>
{% endfor %}
</table>
{% else %}

<p><em>You have not built this configuration yet. Click "Build" above to begin.</em></p>

{% endif %}

<h2><tt>live-build</tt> equivalent command</h2>

<p style="font-family: monospace">$ lh config {{ config.options|command_line_options }} &amp;&amp; sudo lh build</tt></p>

{% endblock %}
