{% extends "base.html" %}

{% block breadcrumbs %}
{{ block.super }} &raquo; <a href="{% url config:configs %}">My configurations</a> &raquo; <em>{{ config.name }}</em>
{% endblock %}

{% block content %}

<h1><em>{{ config.name }}</em></h1>

<form action="{% url build:enqueue config.pk %}" method="post">
<input type="submit" value="Build" style="font-size: 120%">
</form>

{% if config.builds.exists %}
<h3>Build history</h3>
<table cellpadding="5">
<tr>
  <th>#</th>
  <th>Enqueued/Built</th>
  <th>Status</th>
</tr>
{% for build in config.builds.all %}
<tr>
  <td>{{ build.pk }}</td>
  <td>
    {% if build.status == "waiting" or build.status == "building" %}
      {{ build.enqueued|timesince }} ago
    {% else %}
      {{ build.finished|timesince }} ago
    {% endif %}
  </td>
  <td>
    {% if build.status == "waiting" %}
      <em>Waiting for builder to become available..</em>
    {% endif %}

    {% if build.status == "building" %}
      <em>Building...</em> ({{ build.started|timesince }})
      <a href="{{ build.log_url}}">Log</a>
    {% endif %}

    {% if build.status == "failure" %}
      <strong>Build failed!</strong> 
      <a href="{{ build.log_url}}">Log</a>
    {% endif %}

    {% if build.status == "success" %}
      <strong>Finished.</strong>
      <a href="{{ build.result_url}}">Download</a>
      <a href="{{ build.log_url}}">Log</a>
    {% endif %}

  </td>
</tr>
{% comment %}
{% if forloop.counter == 1 and build.status == 'building' %}
<tr>
<td colspan="3"><div data-url="{{ build.log_url }}" id="scrolling_log" style="background-color: black; color: white; font-family: monospace; padding: 1em; width: 800px; height: 200px; overflow: scroll;"><pre></pre></td>
</tr>
{% endif %}
{% endcomment %}
{% endfor %}
</table>
{% endif %}

<p><a href="{% url config:edit config.pk %}">Edit</a></p>

<p style="font-family: monospace">$ lh config {{ config.options|command_line_options }} &amp;&amp; sudo lh build</tt></p>

{% endblock %}
