Source: live-studio
Section: web
Priority: optional
Maintainer: Debian Live Project <debian-live@lists.debian.org>
Uploaders: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python-support, python-setuptools
Standards-Version: 3.9.1
Homepage: http://live.debian.net/devel/live-studio/
Vcs-Browser: http://live.debian.net/gitweb/?p=live-studio.git
Vcs-Git: git://live.debian.net/git/live-studio.git
XS-Python-Version: >= 2.5

Package: live-studio
Architecture: all
Depends:
 ${misc:Depends}, gunicorn, nginx, python-django (>= 1.2),
 python-django-registration, python-psycopg2,
Description: Debian Live - Web based front-end
 live-studio is a web frontend to the Debian Live tools. It offers users of any
 operating system to customise, build and then download a Debian Live system
 from anywhere on the internet. Configurations can be recalled on subsequent
 visits.
 .
 This package contains the Django front-end.

Package: live-studio-runner
Architecture: all
Depends: ${misc:Depends}, live-studio (= ${binary:Version}), python-daemon
Description: Debian Live - Web based front-end (queue runner)
 live-studio is a web frontend to the Debian Live tools. It offers users of any
 operating system to customise, build and then download a Debian Live system
 from anywhere on the internet. Configurations can be recalled on subsequent
 visits.
 .
 This package contains the queue runner responsible for building the images.
