#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Ensure the built packages are in the "live" role.
	echo 'from live_studio.roles.live import *' > build/lib/live_studio/settings/role.py
	
	dh_auto_install
