<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Debian Live Studio</title>

  {% block css %}
  <link rel="stylesheet" href="{% static "css/debian.css" %}" type="text/css" />
  {% endblock %}

  <script language="javascript" src="{% static "js/jquery.js" %}"></script>
  <script language="javascript" src="{% static "js/live-studio.js" %}"></script>
</head>

<body>

<div id="header">
  <div id="upperheader">
  <div id="logo">
  <a href="{% url static:welcome %}" title="Debian Home">
    <img src="{% static "img/openlogo-50.png" %}" alt="Debian" width="50" height="61">
  </a>
  </div>
 </div>

  <div id="navbar">
    <ul>
      {% if request.user.is_authenticated %}
      <li><a href="{% url config:configs %}">Configurations</a></li>
      {% else %}
      <li><a href="{% url static:welcome %}">Home</a></li>
      {% endif %}

      <li><a href="{% url static:faq %}">FAQ</a></li>

      {% if request.user.is_authenticated %}
      <li><a href="{% url auth_logout %}">Logout</a></li>
      {% else %}
      <li><a href="{% url auth_login %}">Login</a></li>
      <li><a href="{% url registration_register %}">Register</a></li>
      {% endif %}
    </ul>
  </div>

   <p id="breadcrumbs">{% block breadcrumbs %}<a href="{% url static:welcome %}">Home</a>{% endblock %}</p> 
</div>

<div id="outer">

  {% for message in messages %}
    <div class="tip"><p>{{ message }}</p></div> 
  {% endfor %}

  <div id="inner">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
  <div id="fineprint">
    <a href="http://www.gnu.org/licenses/agpl-3.0.html"><img src="{% static "img/agplv3.png" %}" style="float: right"></a>

    <p>To report a problem with the web site, e-mail <a href="mailto:debian-live@lists.debian.org">debian-live@lists.debian.org</a>. For other contact information, see the <a href="http://live.debian.net">Debian Live homepage</a>.</p>

    <p>
      Copyright &copy; 2010 <a href="http://chris-lamb.co.uk/">Chris Lamb</a>. Released under the terms of the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License></a> version 3 or greater.
      <br>
      Debian is a registered <a href="http://www.debian.org/trademark">trademark</a> of Software in the Public Interest, Inc.
    </p>
  </div>
  </div>

</div>

</body>
</html>
